In [ ]:
# Using names.txt (right click and 'Save Link/Target As...'), 
# a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. 
# Then working out the alphabetical value for each name, multiply this value by its alphabetical position 
# in the list to obtain a name score.

# For example, when the list is sorted into alphabetical order, COLIN, 
# which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. 
# So, COLIN would obtain a score of 938 Ã— 53 = 49714.

# What is the total of all the name scores in the file?

In [41]:
import codecs

In [42]:
names = codecs.open('p022_names.txt','r')
names = names.read()

In [43]:
names = sorted([x[1:-1] for x in names.split(',')])

In [44]:
names[:3]

['AARON', 'ABBEY', 'ABBIE']

In [45]:
dict_alpha = {'A': 1
             ,'B': 2
             ,'C': 3
             ,'D': 4
             ,'E': 5
             ,'F': 6
             ,'G': 7
             ,'H': 8
             ,'I': 9
             ,'J': 10
             ,'K': 11
             ,'L': 12
             ,'M': 13
             ,'N': 14
             ,'O': 15
             ,'P': 16
             ,'Q': 17
             ,'R': 18
             ,'S': 19
             ,'T': 20
             ,'U': 21
             ,'V': 22
             ,'W': 23
             ,'X': 24
             ,'Y': 25
             ,'Z': 26
            }

In [ ]:
(938)*sum([dict_alpha[x] for x in 'COLIN'])

In [52]:
res = []
for ind, name in enumerate(names):
    res.append((ind+1)*sum([dict_alpha[x] for x in name]))
    
sum(res)

871198282

In [51]:
print(names[937],res[937])

COLIN 49714