In [1]:
# The nth term of the sequence of triangle numbers is given by, tn = Â½n(n+1); so the first ten triangle numbers are:

# 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

# By converting each letter in a word to a number corresponding to its alphabetical position and adding these values 
# we form a word value. For example, the word value for SKY is 19 + 11 + 25 = 55 = t10. 
# If the word value is a triangle number then we shall call the word a triangle word.

# Using words.txt (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common 
# English words, how many are triangle words?

In [110]:
import re

In [111]:
def TriangleNumbers(limit):
    return [int(x*(x+1)/2) for x in range(1, limit+1)]

In [112]:
TriangleNumbers(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [113]:
input = open("p042_words.txt")
input_str = input.readlines()

words = [re.sub("[^\w+]","",str(input_str).split('","')[ind]) for ind in range(len(str(input_str).split('","')))]

In [114]:
dct_letter = {"A":1,
              "B":2,
              "C":3,
              "D":4,
              "E":5,
              "F":6,
              "G":7,
              "H":8,
              "I":9,
              "J":10,
              "K":11,
              "L":12,
              "M":13,
              "N":14,
              "O":15,
              "P":16,
              "Q":17,
              "R":18,
              "S":19,
              "T":20,
              "U":21,
              "V":22,
              "W":23,
              "X":24,
              "Y":25,
              "Z":26}

In [115]:
words_letters_lst = [[x[i] for i in range(len(x))] for x in words]

In [116]:
for word_ind, word in enumerate(words_letters_lst):
    for letter_ind, letter in enumerate(word):
        words_letters_lst[word_ind][letter_ind] = dct_letter[words_letters_lst[word_ind][letter_ind]]

In [117]:
sum_lst = []
for num_word in words_letters_lst:
    sum_lst.append(sum(num_word))

In [118]:
print(max(sum_lst))

192

In [119]:
num_max = 19
print(max(TriangleNumbers(num_max)))
print(max(TriangleNumbers(num_max+1)))

target_list = TriangleNumbers(20)

190
210

In [120]:
count = 0
for elt in sum_lst:
    if elt in target_list:
        count += 1
count

162